# From http://askubuntu.com/questions/691000/apache2-reverseproxy-for-mattermost
# and  https://docs.mattermost.com/install/config-apache2.html?highlight=apache
# adapted

RewriteEngine on
RewriteCond %{REQUEST_URI} ^/api/v[0-9]+/(users/)?websocket$ [NC,OR]
RewriteCond %{HTTP:UPGRADE} ^WebSocket$ [NC,OR]
RewriteCond %{HTTP:CONNECTION} ^Upgrade$ [NC]
RewriteRule .* ws://127.0.0.1:${appconfig.tcpport.mainport}%{REQUEST_URI} [P,QSA,L]

ProxyPass /robots.txt !
ProxyPass /favicon.ico !
ProxyPass /sitemap.xml !
ProxyPass /.well-known !
ProxyPass /_common !
ProxyPass /_errors !

ProxyPass ${appconfig.context}/api/v3/users/websocket ws://127.0.0.1:${appconfig.tcpport.mainport}${appconfig.context}/api/v3/users/websocket
ProxyPassReverse ${appconfig.context}/api/v3/users/websocket ws://127.0.0.1:${appconfig.tcpport.mainport}${appconfig.context}/api/v3/users/websocket

ProxyPass ${appconfig.contextorslash} http://127.0.0.1:${appconfig.tcpport.mainport}${appconfig.contextorslash}
ProxyPassReverse ${appconfig.contextorslash} http://127.0.0.1:${appconfig.tcpport.mainport}${appconfig.contextorslash}
ProxyPassReverseCookieDomain 127.0.0.1 ${site.hostname}

ProxyPreserveHost On
# From https://gitlab.com/gitlab-org/omnibus-gitlab/issues/1966 in the comments

RequestHeader set X-Forwarded-Proto "${site.protocol}"
RequestHeader set X-Frame-Options SAMEORIGIN
