#
# Copyright (C) 2014 and later, Indie Computing Corp. All rights reserved. License: see package.
#

/ubos/log/mattermost-${appconfig.appconfigid}/*log {
   missingok
   sharedscripts
   compress
   postrotate
      /usr/bin/systemctl reload mattermost@${appconfig.appconfigid}.service 2>/dev/null || true
   endscript
}
